* {
    padding: 0;
    margin: 0;
}
body {
    background-color: burlywood;
}

.container {
    display: grid;
    grid-template-rows: 0.5fr 4fr 0.5fr;
    grid-template-columns: 1fr 3fr 1fr;
    overflow-y: scroll;
    height: 100vh;
}

#newGame {
    width: 10vw;
    height: 5vh;
    grid-row: 3/4;
    grid-column: 2/3;
    justify-self: center;
}

.scoreContainer1, .scoreContainer2, .gameContainer {
    justify-self: center;
    grid-auto-flow: row;
    align-self: center;
    overflow-wrap: anywhere;
}
.scoreContainer1 {
    grid-column: 1 / 2;
}
.scoreContainer2 {
    grid-column: 3 / 4;
}
.gameContainer {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    .tictactoe {
        display: inline-block;
        border-radius: 10px;
        height: 18vh;
        width: 18vh;
        border: none;
        justify-content: center;
        font-size: 8em;
        font-weight: bold;
        margin: 2px 0px 2px 0px;
        color: black;
    }

    .tictactoe:hover {
        background-color: gray;
    }

    .tictactoe:disabled {
        background-color: beige;
    }


}