* {
    padding: 0;
    margin: 0;
}
body {
    background-color: burlywood;
}


.scoreContainer {
    justify-self: center;
    width: 50vh;
    background-color: whitesmoke;
    margin: 20px 0px 20px 0px;
    padding: 20px;
}

.gameContainer {
    justify-self: center;

    .tictactoe {
        display: inline-block;
        border-radius: 10px;
        height: 20vh;
        width: 20vh;
        border: none;
        justify-content: center;
        font-size: 8em;
        font-weight: bold;
        margin: 2px 0px 2px 0px;
        color: black;
    }

    .tictactoe:hover {
        background-color: gray;
    }

    .tictactoe:disabled {
        background-color: beige;
    }
}