* {
    padding: 0;
    margin: 0;
}
body {
    background-color: burlywood;
}


.scoreContainer {
    justify-self: center;
    width: 50vh;
    background-color: whitesmoke;
    margin: 20px 0px 20px 0px;
    padding: 20px;
}

.gameContainer {
    justify-self: center;

    .tictactoe {
        border-radius: 10px;
        height: 20vh;
        width: 20vh;
        border: none;
    }

    .tictactoe:hover {
        background-color: gray;
    }
}